<h2 class = "text-center">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class: 'form-signin'}) do |f| %>
  <%= f.error_notification %>

  	<%= f.input :user_name, required: true, autofocus: true, label: false, placeholder: 'Username' %>
    <%= f.input :email, required: true, label: false, placeholder: 'Email' %>
    <%= f.input :password, required: true, label: false, placeholder: 'Password (8 characters minimum)' %>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm Password' %>


    <%= f.button :submit, "Sign up", class: "btn btn-primary btn-lg" %>

<% end %>

<%= render "devise/shared/links" %>
