	<div class="row">
	<h1 class ="text-center">DASHBOARD</h1>
  	<div class="col-md-4">
  		<h4 class = 'text-center'>BOOKS <%= link_to 'New Book', new_book_path, class: 'btn btn-primary btn-sm' %> </h4>
  		<table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Availability</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr>
          <th><%= book.id %></th>
          <td><%= link_to book.name, book_path(book) %></td>
          <td><%= book.availability%></td>
          <td><%= link_to 'Edit' , edit_book_path(book)%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  		

  	</div>
  	<div class="col-md-4">
  		<h4 class = 'text-center'>PURCHASED</h4>
  	</div>
  	<div class="col-md-4">
  		<h4 class = 'text-center'>SALES</h4>
  	</div>
	</div>
</div>