<div class="row">
  <div class="col-md-6">

  <%= image_tag "ror book.jpg", class: "img-responsive" %>

  </div>

  <div class="col-md-6">
    <h2><%= @book.name %> by <%= @book.author%></h2>

    <p><%= @book.description %></p>

  <br>

<h4 class = 'text-center'>Price: $<%= @book.price.to_f/100 %> </h4>
  


</div>
</div>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
